.module {
  table-layout: fixed;
  border-top: 1pt solid #b7b7b7;
  border-left: 1pt solid #b7b7b7;
  break-inside: avoid;
  line-height: 1.2;

  th,
  td {
    padding: 0.5em;
    border-right: 1pt solid #b7b7b7;
    border-bottom: 1pt solid #b7b7b7;
  }

  th {
    background: #f3f3f3;
    vertical-align: middle;
  }

  td {
    padding-bottom: 1em;
  }
}

.phase {
  display: flex;
  flex-wrap: wrap;

  li {
    &:not(:first-child) {
      &::before {
        content: "/";
        padding-inline: 0.2em;
      }
    }
  }
}

.fixed {
  width: 10em;
}
