.module {
  display: flex;
  flex-direction: column;
  gap: 1em;
  line-height: 1.6;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2em;
}

.label {
  padding: 0.3em;
  background: #f3f3f3;
  font-weight: bold;
  line-height: 1;
}
